  
  @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
  @import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

  /* OVERALL ASPECT */

  body {
    background-color: #f2f2f2;
      font-family: "Lato";
      font-weight: 300;
      font-size: 16px;
      color: #555;

      -webkit-font-smoothing: antialiased;
      -webkit-overflow-scrolling: touch;
      
      margin-top: 70px;
  }

  /* Titles */
  h1, h2, h3, h4, h5, h6 {
      font-family: "Raleway";
      font-weight: 300;
      color: #333;
  }


  /* Paragraph & Typographic */
  p {
      line-height: 28px;
      margin-bottom: 25px;
  }

  .centered {
      text-align: center;
  }

  /* Links */
  a {
      color: #f85c37;
      word-wrap: break-word;

      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
  }

  a:hover,
  a:focus {
      color: #7b7b7b;
      text-decoration: none;
      outline: 0;
  }

  a:before,
  a:after {
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
  }

   hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
  }


  .navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
  }

  .navbar-inverse .navbar-nav > .active > a {
    background: #CB0E04;
  }

  .navbar-inverse .navbar-brand {
    color: #999999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
  }

  .navbar-inverse .navbar-brand i {
    color: #CB0E04;
    font-size: 22px;
    letter-spacing: 1px;
  }

  /*TILT*/
  .tilt {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
   
  .tilt:hover {
    -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  /* ==========================================================================
     Wrap Sections
     ========================================================================== */

  #headerwrap {
    background: url(../images/header-bg.jpg) fixed no-repeat center top;
    margin-top: -10px;
    padding-top:20px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;
    
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

  #headerwrap h1 {
    margin-top: 100px;
    color: #1C1C1C;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
  }

  #headerwrap h2 {
    color: #1C1C1C;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  /* Dark Grey Wrap */
  #dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }

  #dg h4 {
    font-weight: 700;
  }

  /* Light Grey */
  #lg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }

  #lg h4 {
    font-weight: 700;
  }


  /* Red Wrap */
  #r {
    background: #FA5858;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  #r h4 {
    color: white;
    font-weight: 700;
  }

  #r p {
    color: white;
  }

  /* Blue Wrap */

  #red {
      margin-top:  100px ;
    background: fixed no-repeat center top;
    padding-top: 25px;
    padding-bottom: 5px;
  }

  /* Footer Wrap */
  #f {
    background: #2d2d2d;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #f i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
  }

  #f i:hover {
    color: #ff7878;
  }

  /****** SECTIONS *****/

  .w {
    padding-top: 35px;
  }

  .w h4 {
    font-weight: 700;
  }

  .w i {
    color: #ff7878;
    font-size: 30px;
  }


  .wb {
    padding-top: 35px;
    margin-bottom: 0px;
  }

  .wb h4 {
    font-weight: 700;
  }

  .desc {
    padding-top: 35px;
  }

  .desc h4 {
    font-weight: 700;
  }

  .desc i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
  }

  /***** MODAL CONTACT *****/
  .modal-content {
    border-radius: 0px;

  }

  .modal-header {
    background: #bdbdbd;
    color: white;
  }

  .modal-header h4 {
    font-weight: 700;
  }

  .modal-body {
    background: #f2f2f2;
      font-family: "Lato";
      font-weight: 300;
      font-size: 16px;
      color: #555;
  }

  .modal-footer {
    background: #f2f2f2;
    margin-top: 0px; 
  }

  /* ==========================================================================
     Pricing Tables
     ========================================================================== */
     
  .pricing-option {
      padding-bottom: 40px;
  }

  .pricing-option .pricing-top {
      position: relative;
      background: #222;
      color: white;
      text-align: center;
      font-weight: bold;

      padding: 40px 20px 30px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  .pricing-option .pricing-top .special-label {
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #1abc9c;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      padding: 3px 0;
  }

  .special .pricing-top {
      background: black;
  }

  .pricing-option .pricing-edition {
      text-transform: uppercase;
      display: block;
      font-size: 25px;
      letter-spacing: 8px;
  }

  .pricing-option .price {
      display: inline-block;
      position: relative;
  }

  .pricing-option .price sup {
      position: absolute;
      top: 50px;
      left: -10px;
      font-size: 24px;
  }

  .pricing-option .price .price-amount {
      font-size: 108px;
      letter-spacing: -4px;
  }

  .pricing-option .price small {
      position: relative;
      left: -10px;
      font-size: 18px;
  }

  .pricing-option ul {
      list-style: none;
      margin: 0;
      background: #eee;
      text-align: center;
      padding-left: 0px;
  }

  .pricing-option ul li {
      border-bottom: solid 1px #e1e1e1;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .pricing-option .pricing-signup {
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 10px;
      color: white;
      background: #1abc9c;
  }

  .pricing-option .pricing-signup:hover {
      background: #ff7878;
  }





   /*CHATBOT*/
   .panel{
       margin-bottom: 0px;
   }
   .chat-window{
       bottom:0;
       position:fixed;
       float:right;
       margin-left:10px;
   }
   .chat-window > div > .panel{
       border-radius: 5px 5px 0 0;
   }
   .icon_minim{
       padding:2px 10px;
   }
   .msg_container_base{
     background: #e5e5e5;
     margin: 0;
     padding: 0 10px 10px;
     max-height:300px;
     overflow-x:hidden;
   }
   .top-bar {
     background: #666;
     color: white;
     padding: 10px;
     position: relative;
     overflow: hidden;
   }
   .msg_receive{
       padding-left:0;
       margin-left:0;
   }
   .msg_sent{
       padding-bottom:20px !important;
       margin-right:0;
   }
   .messages {
     background: white;
     padding: 10px;
     border-radius: 2px;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
     max-width:100%;
   }
   .messages > p {
       font-size: 13px;
       margin: 0 0 0.2rem 0;
     }
   .messages > time {
       font-size: 11px;
       color: #ccc;
   }
   .msg_container {
       padding: 10px;
       overflow: hidden;
       display: flex;
   }
   /*img {*/
       /*display: block;*/
       /*width: 100%;*/
   /*}*/
   .avatar {
       position: relative;
   }
   .base_receive > .avatar:after {
       content: "";
       position: absolute;
       top: 0;
       right: 0;
       width: 0;
       height: 0;
       border: 5px solid #FFF;
       border-left-color: rgba(0, 0, 0, 0);
       border-bottom-color: rgba(0, 0, 0, 0);
   }

   .base_sent {
     justify-content: flex-end;
     align-items: flex-end;
   }
   .base_sent > .avatar:after {
       content: "";
       position: absolute;
       bottom: 0;
       left: 0;
       width: 0;
       height: 0;
       border: 5px solid white;
       border-right-color: transparent;
       border-top-color: transparent;
       box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
   }

   .msg_sent > time{
       float: right;
   }



   .msg_container_base::-webkit-scrollbar-track
   {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
       background-color: #F5F5F5;
   }

   .msg_container_base::-webkit-scrollbar
   {
       width: 12px;
       background-color: #F5F5F5;
   }

   .msg_container_base::-webkit-scrollbar-thumb
   {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
       background-color: #555;
   }

   .btn-group.dropup{
       position:fixed;
       left:0px;
       bottom:0;
   }

   .grabbable {
     cursor: move; /* fallback if grab cursor is unsupported */
         cursor: grab;
         cursor: -moz-grab;
         cursor: -webkit-grab;
   }